<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Yandex Lyceum 2019">
        <meta name="author" content="evil_rise7">
        <title>Portfol.io</title>
        <link href="static/page_index/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="static/page_index/cover.css" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <a href="/"><h3 class="masthead-brand">Portfol.io</h3></a>
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="/">Главная страница</a>
                                <a class="nav-link" href="/about">О проекте</a>
                            </nav>
                        </div>
                    </div>
                    <div class="inner cover">
                        <h1 class="cover-heading">Вход</h1>
                        <form method="post">
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
                            <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
                        </form>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p><a href="https://github.com/evilrise7">@evil_rise7</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="static/page_index/assets/js/jquery.min.js"></script>
        <script src="static/page_index/assets/js/popper.js"></script>
        <script src="static/page_index/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>